
.marquee {
  height: 2em;
  /*width: 420px;*/
  overflow: hidden;
  position: relative;
  line-height: 2em;
  background: #333;
  color: aliceblue;
}

.marquee div {
  display: block;
  width: 200%;
  /*height: 30px;*/

  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}